<div class="movie-details-page-container row mx-0 align-content-center">
    <div class="col-auto">
        <img src="https://placehold.co/250x400" class="movie-poster" alt="">
    </div>
    <div class="col movie-details">
        <h1 class="movie-title">Batman</h1>
        <div class="movie-year-genra-seasons">
            <span>2019 | </span>
            <span>Action | </span>
            <span>3 Seasons</span>
        </div>
        <p class="movie-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente molestiae doloribus cupiditate nam vero fugiat tempora ullam ut minima. Voluptatum magni sunt sapiente reprehenderit ad temporibus? Molestias magni delectus asperiores!</p>
        <button class="watch-btn focusable" [routerLink]="'../../player'">Watch Now</button>
    </div>
</div>