
.player-page-container {
    width: 100%;
    height: 100%;

    .player-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        #player {
            width: 100%;
            height: 100%;
        }
    }
}

::ng-deep {
    #bmpui-id-187:focus {
        background-color: red;
    }
}